@import "../../../styles.scss";

.newuser-form-container {
	margin: 30px 0px;

	.title-container {
		margin: 10px;
		padding: 0px;
		margin: 0px;
		margin-bottom: 25px;
		text-decoration: underline;
	}

}