<div class="newuser-form-container">
	<div class="title-container">
		<h4> Register New User</h4>
	</div>
	<form>
	  <div class="row">
	    <div class="col-md-6">
	      	<label>First Name</label>
	      	<input
	      		type="text"
	      		class="form-control"
	      		placeholder="First name">
	    </div>

	    <div class="col-md-6">
	    	<label>Last Name</label>
	    	<input
	    		type="text"
	    		class="form-control"
	    		placeholder="Last name">
	    </div>
	  </div>
	  <br>

	  <div class="row">
	  	<div class="col">
	      	<label>Address</label>
	      	<input
	      		type="text"
	      		class="form-control"
	      		placeholder="Address">
	    </div>
	  </div>
	  <br>

	  <div class="row">
	  	<div class="col">
	      	<label>Email</label>
	      	<input
	      		type="mail"
	      		class="form-control"
	      		placeholder="Email">
	    </div>
	  </div>
	  <br>

	  <div class="row">
	  	<div class="col">
	      	<label>Phone</label>
	      	<input
	      		type="text"
	      		class="form-control"
	      		placeholder="(###) ###-####">
	    </div>
	  </div>
	   <br>
	   <button type="submit" class="btn btn-secondary btn-lg">Register</button>
	</form>
</div>