html {
	height: 100%;
  	width: 100%;
	margin: 0;
}

body {
	margin: 0;
	font-family: 'Neue Hass Unica Pro', sans-serif;
	height: 100%;
  width: 100%;
}


$softtek-blue: #112942;
$softtek-gray: #ebeced;
$softtek-blue: #272269;
$white: #FFFFFF;


.mainWrapper {
	width: 100%;
	height: 50px;
	margin: 30px 0px;
	border: 1px solid red;
}